<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WhyOrchid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WhyOrchid.Properties.Settings>
            <setting name="Color_Primary" serializeAs="String">
                <value>#2cb065</value>
            </setting>
            <setting name="Color_OnPrimary" serializeAs="String">
                <value>#f0f0f0</value>
            </setting>
            <setting name="Color_Secondary" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="Color_OnSecondary" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="Color_Tertiary" serializeAs="String">
                <value>#645a72</value>
            </setting>
            <setting name="Color_OnTertiary" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="Color_Error" serializeAs="String">
                <value>#b23535</value>
            </setting>
            <setting name="Color_OnError" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="Color_Background" serializeAs="String">
                <value>#f5f5f5</value>
            </setting>
            <setting name="Color_OnBackground" serializeAs="String">
                <value>#505050</value>
            </setting>
            <setting name="Color_InverseBackground" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="Color_OnInverseBackground" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="Color_Surface" serializeAs="String">
                <value>#fbfbfb</value>
            </setting>
            <setting name="Color_OnSurface" serializeAs="String">
                <value>#505050</value>
            </setting>
            <setting name="Color_InverseSurface" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="Color_OnInverseSurface" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="Color_SurfaceVariant" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="Color_OnSurfaceVariant" serializeAs="String">
                <value>#bf414141</value>
            </setting>
            <setting name="Color_InverseSurfaceVariant" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="Color_OnInverseSurfaceVariant" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="Color_Outline" serializeAs="String">
                <value>#dcdcdc</value>
            </setting>
            <setting name="Color_OutlineVariant" serializeAs="String">
                <value>#dcdcdc</value>
            </setting>
            <setting name="Color_Interaction" serializeAs="String">
                <value>#14383838</value>
            </setting>
            <setting name="Color_Shadow" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="UI_ButtonCornerRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UI_CardCornerRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UI_CursorType" serializeAs="String">
                <value>Hand</value>
            </setting>
            <setting name="FontStyle_FontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="FontStyle_Large" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="FontStyle_Medium" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FontStyle_Small" serializeAs="String">
                <value>12</value>
            </setting>
        </WhyOrchid.Properties.Settings>
    </userSettings>
</configuration>