<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AuroraDialogEnhancer.Properties.DefaultSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AuroraDialogEnhancer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AuroraDialogEnhancer.Properties.DefaultSettings>
            <setting name="UI_ThemeInfo_AccentColor" serializeAs="String">
                <value>#7764d8</value>
            </setting>
            <setting name="FontStyle_FontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="FontStyle_FontSize" serializeAs="String">
                <value>14</value>
            </setting>
        </AuroraDialogEnhancer.Properties.DefaultSettings>
        <AuroraDialogEnhancer.Properties.Settings>
            <setting name="UI_MainWindow_Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="UI_MainWindow_Height" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="UI_MainWindow_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_MainWindow_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_MainWindow_State" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="App_IsStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="App_IsCloseMinimizes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="App_IsMinimizeToTaskBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="App_CurrentCulture" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="App_Screenshot_DateTimeFormat" serializeAs="String">
                <value>yyyMMddHHmmss</value>
            </setting>
            <setting name="UI_HookSettings_SelectedGameId" serializeAs="String">
                <value />
            </setting>
            <setting name="UI_Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UI_ThemeInfo_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_ThemeInfo_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="App_UnloadUi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="App_IsExpertMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UI_InitialPage" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UI_ThemeInfo_IsSystemApplicationThemeLight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UI_ThemeInfo_ThemeName" serializeAs="String">
                <value />
            </setting>
            <setting name="UI_ThemeInfo_SelectedColorType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_ThemeInfo_CustomThemeAccentColor" serializeAs="String">
                <value />
            </setting>
            <setting name="UI_ThemeInfo_IsCustomAccentColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UI_MainWindow_State_Startup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_MainWindow_State_Shortcut" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="App_IsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="App_IsScreenshotsManager" serializeAs="String">
                <value>True</value>
            </setting>
        </AuroraDialogEnhancer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	    <probing privatePath="Localization" />
	    <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
	<loadFromRemoteSources enabled="true" />
  </runtime>
</configuration>